<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create a new user</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<h1>Create a new user</h1>

<form th:object="${form}" name="form" action="" method="post">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <div>
        <label for="email">Email address</label>
        <input type="email" name="email" id="email" th:field="*{email}" required="true" autofocus="true" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" th:field="*{password}" required="true" />
    </div>
    <div>
        <label for="passwordRepeated">Repeat</label>
        <input type="password" name="passwordRepeated" id="passwordRepeated" th:field="*{passwordRepeated}" required="true" />
    </div>
    <div>
        <label for="role">Role</label>
        <select name="role" id="role" required="true">
            <option th:attr="selected=${#authorization.expression('hasAuthority(''USER'')') ? 'true' : null}">USER</option>
            <option th:attr="selected=${#authorization.expression('hasAuthority(''ADMIN'')') ? 'true' : null}">ADMIN</option>
        </select>
    </div>
    <button type="submit">Save</button>
    
    <div th:if="${#fields.hasAnyErrors()}">
        <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
    </div>
</form>

</body>
</html>