<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>List of Users</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a th:href="@{/user/create}">Create a new user</a></li>
    </ul>
</nav>

<h1>List of Users</h1>
<table>
    <thead>
    <tr>
        <th>E-mail</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td><a th:href="@{/user/} + ${user.id}"><span th:text="${user.email}" /></a></td>
            <td th:text="${user.role}" />
        </tr>
    </tbody>
</table>
</body>
</html>